{% extends 'templates/base.twig' %}
{% block content %}


<!-- SLIDER ON -->
{% if page.get_field('hero_slides') %}
    {% include 'components/hero-slider/hero-slider.twig' with
    {
    'hero_slides'                : page.get_field('hero_slides'),
    'hero_style'                 : page.get_field('hero_slider_style'),
    'hero_transition'            : page.get_field('hero_slider_transition'),
    'add_negative_margin_bottom' : page.get_field('add_negative_margin_bottom'),
    'negative_margin'            : page.get_field('negative_margin'),
    'add_fading_layer'           : page.get_field('add_fading_layer')
    }
    %}
{% endif %}
<!-- SLIDER OFF -->
<div class="row">
    <div class="medium-12 columns">
        <h2 class="c-age-cards__intro hide-for-small">{{page.custom.segment_cards_title}}</h2> {# Segment cards ON #}
        <div class="page-template-template-mortgages-home-php__section">
            <mortgage-segment-cards></mortgage-segment-cards>
        </div>


        {% if sections.cta_block %} {% include 'views/twigs/templates/partials/pensions/cta-strip.twig' with {'class' : 'c-cta-strip--heavy', 'data': sections.cta_block } %} {% endif %}
    </div>
</div>
<div class="helpSection-hide-title">
    {% include 'views/twigs/templates/partials/footer/footer-widgets.twig' with {'widgets' : page.custom.footer_widgets}%}
</div>
{% endblock %}
