.logo {
	display: flex;
	align-items: center;
	padding: .8rem;
	img {
		width: 100px;
	}
	h1 {
		padding: 0 0 0 1rem;
		margin: 0;
		line-height: 1;
		a {
			color: $white;
			transition: all .2s ease;
			&:hover {
				opacity: .9;
			}
		}
	}
}